<div class="task-details">
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="edit-task-form">
    <mat-form-field appearance="fill" class="task-input">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="task-input">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="fill" class="task-input">
      <mat-label>Status</mat-label>
      <mat-select formControlName="status">
        <mat-option value="complete">Complete</mat-option>
        <mat-option value="incomplete">Incomplete</mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" class="submit-btn">
      Save
    </button>
  </form>
</div>
